<!-- taste/showをコピー -->
<div class="taste-bottels">
	<% @bottles.each do |bottle|%>
		<div class="bottle-image">
			<div class="bottle-photo"></div>
			<p class="text"><%=link_to bottle.bottle_name,bottle_path(bottle.id)%></p>
		</div>
	<% end %>
</div>