<div class="taste-bottels">
	<% bottles.each do |bottle|%>
		<div class="bottle-image">
			<div class="bottle-photo">
				<%= image_tag bottle.image,class:"bottle-photo-content"%>
			</div>
			<p class="text"><%=link_to bottle.name,bottle_path(bottle.id)%></p>
		</div>
	<% end %>
</div>