<div class="under-contents">
    <div class="about-Bronks">
        <h2 class="about-Bronks-title text">About Bronks</h2>
        <p class="about-Bronks-text text">〒650-0025 神戸市中央区相生町2丁目2-14 新神戸ビルB1F</p>
    </div>
    <div class="low-brown-color"></div>
</div>