<div class="taste-area">
	<div class="taste-image">
		<%= image_tag list.image.variant(resize:"250x350"),class:"pink"%>
	</div>
	<h3 class="text"><%= list.name%></h3>
	<div class="taste-area-text">
		<p class="text"><%= list.explanation%></p>
	</div>
</div>