<div class="taste-area">
	<div class="taste-image">
		<%= image_tag list.image,class:"taste-image-content"%>
	</div>
	<h3 class="text"><%= list.name%></h3>
	<div class="taste-area-text">
		<%if not list.explanation==nil %>
			<p class="text"><%= simple_format(list.explanation)%></p>
		<%end%>
	</div>
</div>