<div class="top-menu">
    <div class="search-way-space">
        <div class="search-way-space-first-stage">
            <div class="search-by-taste">
                <div class="search-by-taste-image by-image text">
                    <div class="search-by-taste-image-box image-box">
                        <%=link_to "香り",tastes_path,{class:"search-by-taste-text"}%>
                    </div>
                </div>
            </div>
            <div class="search-by-area">
                <div class="search-by-area-image by-image text">
                    <div class="search-by-taste-image-box image-box">
                        <%= link_to "地域",areas_path,{class:"search-by-area-text"}%>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-way-space-second-stage">
            <div class="range-of-mature">
                <div class="range-of-mature-image by-image text">
                    <div class="range-of-mature-image-box image-box">
                        <%= link_to "熟成",matures_path,{class:"range-of-price-text"}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="under-contents">
    <div class="about-Bronks">
        <h2 class="about-Bronks-title text">About Bronks</h2>
        <p class="about-Bronks-text text">〒650-0025 神戸市中央区相生町2丁目2-14 新神戸ビルB1F</p>
    </div>
    <div class="low-brown-color"></div>
</div>